:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: peachpuff;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 600px;
    margin: 20px;
}

.grid-item {
    border: 1px black solid;
    padding: 50px;
    text-align: center;
}

input, button{
    background-color: aqua;
}

button:hover {
    background-color: red;
}

input:hover {
    background-color: red;
}